<%-include("partials/header")%>
<hr />
<div class="special">
  <h1 style="padding: 2px">MENU OPTIONS</h1>
  <ul>
    <%foodItem.forEach(food => { %>
    <li>
      <div><img src="<%=food.img%>" alt="" /></div>
      <div class="menutext">
        <p><%=food.name%></p>
        <i><%=food.price%></i>
        <i>Only Keema</i>
      </div>
    </li>
    <% }) %>
  </ul>
</div>

<!-- footer -->
<%-include("partials/footer")%>
